@import "tailwindcss";
:root {
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    font-family: 'Roboto Mono' , 'monospace';
}
.light-mode {
  background-color: aliceblue;
  color: rgb(9, 9, 11);
  
}
.ctrl-k-dark{
    background-color:rgb(48,48,50) ;
    color: #9F9FA9;
    
}
.ctrl-k-light{
    background-color: rgb(235, 235, 235);
    color: rgb(48, 48, 50);
}
.search-button-dark{
    color: #9F9FA9;
}
.search-button-light{
    color: rgb(31, 26, 26)
}
